﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .intro {
        margin-top: 20px;
    }
}


@media screen and (max-width:480px) {
    #trick {
        padding-left: 0px;
        padding-right: 0px;
    }

    #my_code {
        padding-left: 0px;
        padding-right: 0px;
    }

    #searched_code {
        padding-left: 0px;
        padding-right: 0px;
    }

    #links {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (max-width:990px) {
    #trick {
        padding-left: 5px;
        padding-right: 5px;
    }

    #my_code {
        padding-left: 5px;
        padding-right: 5px;
    }

    #searched_code {
        padding-left: 5px;
        padding-right: 5px;
    }

    #links {
        padding-left: 5px;
        padding-right: 5px;
    }
}

#menu {
    position: absolute;
    float: left;
    top: 20px;
    padding-right: 827px;
    padding-bottom: 42px;
    margin-left: 5px;
    margin-right: 0px;
    width: auto;
    max-width: 1400px;
    height: 35px;
    background-color: #ccccff;
}

    #menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #menu li {
        display: inline-block;
        list-style-type: none;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.125em;
        padding: 15px 10px;
    }

        #menu li:first-child {
            padding-left: 24px;
        }

        #menu li:last-child {
            padding-right: 4px;
        }

#trick {
    border: 2px dashed red;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

#my_code {
    border: 2px dashed red;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#searched_code {
    border: 2px dashed red;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#links {
    border: 2px dashed red;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

    #links li {
        list-style-type: none;
        margin-bottom: 10px;
    }

#footer {
    padding-left: 100px;
    color: green;
}
