﻿body {
    padding-top: 50px;
    background-color: #cc99ff;
    
}
#links {
    border: 2px dashed #ffc266;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
    background-color: #ffc266;
    color: white;
}

#trick {
    border: 2px dashed #ffc266;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffc266;
    color: white;
}

h2 {
    background-color: #ff6666;
}

@media screen and (min-width: 768px) 
{
    body {
        padding-top: 50px;
        background-color: #cc99ff;
    }

}

    @media screen and (max-width:990px) {
        #trick {
            padding-left: 5px;
            padding-right: 5px;
        }

        #links {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    @media screen and (max-width:480px) {

        #my_code {
            padding-left: 0px;
            padding-right: 0px;
        }

        #searched_code {
            padding-left: 0px;
            padding-right: 0px;
        }

        #links {
            border: 2px dashed #ffc266;
            padding-left: 0px;
            padding-top: 0px;
            padding-bottom: 5px;
            background-color: #ffc266;
            color: white;
        }

        #trick {
            border: 2px dashed #ffc266;
            padding-left: 0px;
            padding-top: 0px;
            padding-bottom: 5px;
            background-color: #ffc266;
            color: white;
        }
    }
