﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Database.ascx.cs" Inherits="Assifnment2b.user_control.Database" %>
<asp:DataGrid ID="MyDataBase" runat="server" CssClass="database"
        GridLines="None" Width="270px" CellPadding="2" >
        <HeaderStyle Font-Size="Medium" BackColor="#40bf80" ForeColor="White" />
        <ItemStyle BackColor="#ffc266" ForeColor="white"/>     
    </asp:DataGrid>


