﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Digital Design.ascx.cs" Inherits="Assifnment2b.user_control.Digital_Design" %>
<asp:DataGrid ID="MyDigital" runat="server" CssClass="digital"
        GridLines="None" Width="270px" CellPadding="2" >
        <HeaderStyle Font-Size="Medium" BackColor="#40bf80" ForeColor="White" />
        <ItemStyle BackColor="#ffc266" ForeColor="white"/>     
    </asp:DataGrid>
