﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Web Programming.ascx.cs" Inherits="Assifnment2b.user_control.Web_Programming" %>
<asp:DataGrid ID="MywebProg" runat="server" CssClass="web"
        GridLines="None" Width="270px" CellPadding="2" >
        <HeaderStyle Font-Size="Medium" BackColor="#40bf80" ForeColor="White" />
        <ItemStyle BackColor="#ffc266" ForeColor="white"/>     
    </asp:DataGrid>
